{{#each success_msg}}
<div class="alert alert-success" role="alert">
    {{this}}
</div>
{{/each}}


{{#each error_msg}}
<div class="alert alert-danger" role="alert">
    {{this}}
</div>
{{/each}}

{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}