<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">QLHS <sup>17_31</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Thông tin chung</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  {{!-- <div class="sidebar-heading">
    Interface
  </div> --}}

  <!-- Học sinh Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <span>Học sinh</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {{!-- <h6 class="collapse-header">Custom Components:</h6> --}}
        <a class="collapse-item" href="/schedule">Thời khoá biểu</a>
        <a class="collapse-item" href="">Lịch thi</a>
        <a class="collapse-item" href="">Kết quả học tập</a>
      </div>
    </div>
  </li>

  <!-- Giáo vụ Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true"
      aria-controls="collapseStaff">
      <span>Giáo vụ</span>
    </a>
    <div id="collapseStaff" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="">Quản lí học sinh</a>
        <a class="collapse-item" href="">Quản lí lớp học</a>
        <a class="collapse-item" href="">Báo cáo</a>
        <a class="collapse-item" href="">Thi học kì</a>
        <a class="collapse-item" href="">Khảo sát</a>
        <a class="collapse-item" href="">Điều chỉnh thông tin</a>
      </div>
    </div>
  </li>

  <!-- Giáo viên Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTeacher" aria-expanded="true"
      aria-controls="collapseTeacher">
      <span>Giáo viên</span>
    </a>
    <div id="collapseTeacher" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="">Lớp chủ nhiệm</a>
        <a class="collapse-item" href="">Lớp khác</a>
        <a class="collapse-item" href="">Lịch thi</a>
        <a class="collapse-item" href="">Lịch giảng dạy</a>
        <a class="collapse-item" href="">Điều chỉnh thông tin</a>
        <a class="collapse-item" href="">Thời khoá biểu</a>
      </div>
    </div>
  </li>

  <!-- Hiệu trường Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrincipal" aria-expanded="true"
      aria-controls="collapsePrincipal">
      <span>Hiệu trưởng</span>
    </a>
    <div id="collapsePrincipal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="">Quản lí tài khoản</a>
        <a class="collapse-item" href="">Quản lí năm học</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>