.md-form label {
    width: 120px;
}
.md-form .form-control {
    width: 60% !important;
}
.fa {
    color: red;
}

.semester {
    border-radius: 10px !important; 
    height: 2rem !important;
    padding: 0 5px !important;
    background-color: #4e73df !important;
    display: inline-block !important;
}

.labelSemester {
    text-align:center;
    vertical-align:middle; 
    line-height:2rem; 
    color:black !important
}
