#table{
    display:flex;
    flex-wrap:wrap;
    width:1000px;
}
#days{
    display:flex;
}
p{
   margin-top:4px; 
}
.day{
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to bottom, #0a9dff 0%,#0b91ff 100%);
    color:#fff;
    font-weight:600;
    margin:0 2px;
}
.hour{
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid #ddd;
    font-weight:600;
}
#board{
    background:#eee;
    position:relative;
}
.row{
    width:100%;
    height:60px;
    border-bottom:1px solid #ddd;
    background:#fff;
}
.act{
    display:table-cell;
    width:92px;
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
    position:absolute;
    text-align:center;
    vertical-align:middle ;
    font-size:10px;
    font-weight:600;
    text-transform:uppercase;
    color:#fff;
    margin:0 4px;
}
#add{
    display:flex;
    font-weight:400;
    font-size:36px;
    align-items:center;
    justify-content:center;
    transition: all 0.2s;
}
#add:hover{
    cursor:pointer;
}