.md-form label {
    width: 120px;
}
.md-form .form-control {
    width: 60% !important;
}
.fa {
    color: red;
}

.semester {
    border-radius: 10px; 
    height: 2rem;
    padding: 0 5px;
    background-color: #4e73df;
    display: inline-block;
}