    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Phúc khảo</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>MÔN HỌC</th>
                        <th>HỌC KÌ</th>
                        <th>NĂM HỌC</th>
                        <th>CỘT ĐIỂM</th>
                        <th>GHI CHÚ</th>
                        <th>TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Toán</td>
                        <td>1</td>
                        <td>2019-2020</td>
                        <td>1 tiết</td>
                        <td>Em dò bài với bạn thấy đúng gần hết</td>
                        <td>GV đã phúc khảo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
</div>