<div class="row">
    <div class="semester ml-2 mb-2">
        <p class="labelSemester">Năm học: 2019-2020</p>
    </div>
    <form class="semester labelSemester ml-2 mb-2" action="./" method="GET">
        <div align="center">
            <span>Học kì:</span>
            <select class="semester" style="border: none; color:blanchedalmond" name="state" onchange="this.form.submit();">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </form>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>MÔN HỌC</th>
                        <th>NGÀY THI</th>
                        <th>PHÒNG THI</th>
                        <th>TIẾT BẮT ĐẦU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Toán</td>
                        <td>23/07/2020</td>
                        <td>A101</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
