<div class="row">
    <div class="semester ml-2 mb-2">
        <p style="text-align:center; vertical-align:middle; line-height:2rem; color:black">Năm học: 2019-2020</p>
    </div>
    <div class="semester ml-2 mb-2">
        <p style="text-align:center; vertical-align:middle; line-height:2rem; color: black">Học kì: 2</p>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>TIẾT</th>
                        <th>THỨ 2</th>
                        <th>THỨ 3</th>
                        <th>THỨ 4</th>
                        <th>THỨ 5</th>
                        <th>THỨ 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Toán</td>
                        <td>Văn</td>
                        <td>Toán</td>
                        <td>Anh</td>
                        <td>Lý</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>